@{
    ViewBag.Title = "Home Page";
}

<h2>Kockout.js training examples</h2>
<p>
    To learn more about Knockout.js visit <a href="http://knockoutjs.com/" title="Knockout.js Website">http://knockoutjs.com/</a>.
</p>

<ol>
    <li>@Html.ActionLink("Basic Example", "Basic")</li>
    <li>@Html.ActionLink("Observable", "Observable")</li>
    <li>@Html.ActionLink("Computed Properties", "Computed")</li>
    <li>@Html.ActionLink("Events", "Events")</li>
    <li>@Html.ActionLink("Observable Collections", "Collections")</li>
    <li>@Html.ActionLink("Complex Observable Collections", "ComplexCollections")</li>
</ol>